<div class="table-responsive container-fluid table-bordered" *ngIf="itensCarrinho.length > 0; else naoHaItens">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of itensCarrinho">
      <tr>
        <td>{{ item.titulo }}</td>
        <td>
          <input class="form-control w-50" type="number" [(ngModel)]="item.quantidade" placeholder="Quanridade">
        </td>
        <td>{{ calcularTotal(item.preco, item.quantidade || 0) }}</td>
      </tr>
    </tbody>
    <tfoot class="text-center">
      <tr>
        <td colspan="3">
          <button class="btn btn-success me-2" (click)="finalizarCompra()">Finalizar</button>
          <button class="btn btn-secondary me-2" (click)="limpar()">Limpar carrinho</button>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #naoHaItens>
  <div class="container-fluid">
    <h3 class="title justify-content-center d-flex mt-5">Não há itens no carrinho</h3>
  </div>
</ng-template>
