<div class="container m-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Formulário de Contato</h2>
      <form>
        <div class="mb-3">
          <label for="nome" class="form-label">Nome:</label>
          <input
              type="text"
              class="form-control"
              id="nome"
              name="nome"
              placeholder="Digite seu nome"
              required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Digite seu email"
              required>
        </div>

        <div class="row mb-3">
          <div class="col-6">
            <label for="senha" class="form-label">Senha:</label>
            <input
                type="password"
                class="form-control"
                id="senha"
                name="senha"
                placeholder="Digite sua senha"
                required>
          </div>
          <div class="col-6">
            <label for="confirma" class="form-label">Confirma:</label>
            <input
                type="password"
                class="form-control"
                id="confirma"
                name="confirma"
                placeholder="Confirme sua senha"
                required>
          </div>
        </div>

        <div class="mb-3">
          <label for="cpf" class="form-label">CPF:</label>
          <input
              type="cpf"
              class="form-control"
              id="cpf"
              name="cpf"
              placeholder="Digite seu cpf"
              required>
        </div>
        <div class="mb-3">
          <label for="telefone" class="form-label">Telefone:</label>
          <input
              type="tel"
              class="form-control"
              id="telefone"
              name="telefone"
              placeholder="Digite seu telefone"
              required>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary btn-sm mx-auto">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
